:root{
    --dark-blue: #363F5F;
    --green: #49AA26;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html, body{
   background-color: #E6E6E6;
   font-family: 'Popins', sans-serif;
}

html{
    font-size: 93.75%;
}

.sr-only{
    width: 0;
    height:0;
    padding: 0;
    margin: -1px;
    border-width: 0;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);

    position: absolute;
}

.container{
    margin: auto;
    width: min(90vw, 800px);
}

/* == TITLES == */

h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;

    font-weight:normal;
    color:  var(--dark-blue);
    font-variant: small-caps;
}

/* == LINKS & BUTTONS == */

a{
    color: var(--green);
    text-decoration: none;
}

a:hover{
    color: #3DD705;
    transition: 700ms;
}

button{
    width: 100%;
    height: 50px;
    cursor: pointer;

    border: none;
    color: #FFF;
    border-radius: 0.15rem;
    background-color: var(--green);
}

button:hover{
    background-color: #3DD705;
    transition: 700ms;
}

.button.new{
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel{
    color: #E92929;
    border-radius: 0.15rem;
    border: 1.5px solid #E92929;

    height: 50px;
    opacity: 0.5;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button.cancel:hover{
    opacity: 0.85;
}

/* == HEADER == */

header{
    padding: 2rem 0 10rem;
    text-align: center;
    background-color: #2D4A22;
}

#logo{
    color: #FFF;
    font-weight: 100;
}

/* == BELANCE == */

#balance{
    margin-top: -7.5rem;
}

#balance h2{
    color: #FFF;
    margin-top: 0;
}

/* == CARDS ==*/

.card{
    padding: 1.5rem 2rem;

    margin-bottom: 2rem;
    border-radius: 0.25rem;
    background-color: #FFF;
}
.card h3{
    font-size: 1rem;
    font-weight: normal;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p{
    margin-top:1rem;

    font-size: 2rem;
    line-height: 3rem;
}

.card.total{
    color: #FFF;
    background-color:var(--green);
}

/* == TABLE ==*/

#transaction{
    width: 100%;
    display: block;
    overflow-x: auto;
}

#data-table{
    width: 100%;
    color: #969CB3;
    border-spacing: 0 0.5rem;
}

table thead tr th:first-child,
table tbody tr td:first-child{
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child{
    border-radius: 0 0.25rem 0.25rem 0;
}

table th{
    text-align: left;
    font-weight: normal;
    font-variant: small-caps;

    opacity: 0.6;
    padding: 1rem 2rem;
    background-color: #FFF;
}

table td{
    padding: 1rem 2rem;
    background-color: #FFF;
}

table tbody tr{
    opacity: 0.7;
}

table tbody tr:hover{
    opacity: 1;
}

td.description{
    color: var(--dark-blue);
}

td.income{
    color:#12A454
}

td.expense{
    color: #E92929;
}

/* == MODAL ==*/

.modal-overlay{ 
    width: 100%;
    height:100%;

    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999; 
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal{
    padding: 2.4rem;
    background-color: #F0F2F5;
    
    z-index: 1;
    position: relative;

    width: 90%;
    max-width: 500px;
    border-radius: 3.5px;
}

/* == FORMULÁRIO == */

#form{
    max-width: 500px;
}

#form h2{
    margin-top: 0;
}

input{
    border: none;
    border-radius: 0.2rem;

    width: 100%;
    padding: 0.8rem;
}

.input-group{
    margin-top: 0.8rem;
}

.input-group small{
    opacity: 0.5;
}

.input-group.actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group.actions .button,
.input-group.actions button{
    width: 48%;
}

/* == FOOTER ==*/

footer{
    opacity: 0.65;
    text-align: center;
    color: var(--dark-blue);

    padding: 4rem 0 2rem;
}

/* === RESPONSIVE DESIGNS === */

@media (min-width: 800px){
    html{
        font-size: 87.5%;
    }

    #balance{
        gap: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}